// Define main colors
$blue: #263b5c;
$pink: #f15a52;
$teal: #7fcbbd;
$yellow: #f3e78f;
$purple: #a08eb5;
$white: #fff;
$shadow: rgba(0, 0, 0, .4);
$grey: rgba(255, 255, 255, .5);
$offwhite: #efefef;
$green: #aabf65;
$white: #fff;

@font-face {
  font-family: 'ArialRoundedMT';
  src: url('ArialRoundedMTBold.eot');
  src: url('ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
      url('fonts/ArialRoundedMTBold.woff2') format('woff2'),
      url('fonts/ArialRoundedMTBold.woff') format('woff'),
      url('fonts/ArialRoundedMTBold.ttf') format('truetype'),
      url('fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$arial: 'ArialRoundedMT', sans-serif;
